<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de clientes</h5>
      
<div class="my-2 text-left">
    <button class="btn btn-primary btn-rounded" [routerLink]="['/clientes/registrar']">Crear Cliente</button>
</div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
            No hay registros en la base de datos!
    </div>

        <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0 ">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>fecha</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <th>{{ cliente.id }}</th>
                    <th>{{ cliente.nombre }}</th>
                    <th>{{ cliente.apellido | uppercase }}</th>
                    <th>{{ cliente.email }}</th>
                    <th>{{ cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</th>
                    <th>
                        <button type="button" [routerLink]="['/clientes/registrar', cliente.id]" class="btn btn-primary" >editar</button>
                    </th>
                    <th>
                        <button type="button" (click)="delete(cliente)" class="btn btn-danger" >eliminar</button>
                    </th>
                </tr>
            </tbody>
        </table>


    </div>
  </div>